<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>InterviewByte</title>
</head>
<body>
    <div class="notification-bar" id="notification-bar"></div>
    <nav>
        <a href="{{ url_for('indexPage') }}" class="logo-wrapper">
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/favicon.png') }}" alt="InterviewByte">
                <h1>InterviewByte</h1>
            </div>
        </a>
    </nav>
    {% block bodySection %}
    {% endblock %}
</body>
</html>